<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Last Man Standing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ParentServlet</servlet-name>
    <servlet-class>servlets.ParentServlet</servlet-class>
    <init-param>
      <param-name>log4j-properties-location</param-name>
      <param-value>WEB-INF/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>servlets.dashboard.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewGameServlet</servlet-name>
    <servlet-class>servlets.game.NewGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewGameServlet</servlet-name>
    <url-pattern>/NewGameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/GameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>servlets.game.GameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmailAddressServlet</servlet-name>
    <servlet-class>servlets.dashboard.EmailAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailAddressServlet</servlet-name>
    <url-pattern>/EmailAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GameWeekServlet</servlet-name>
    <servlet-class>servlets.dashboard.GameWeekServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameWeekServlet</servlet-name>
    <url-pattern>/GameWeekServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlets.admin.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>servlets.admin.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitializeServlet</display-name>  
    <servlet-name>InitializeServlet</servlet-name>
    <servlet-class>servlets.InitializeServlet</servlet-class>
      <init-param>
        <param-name>shutdown-on-unload</param-name>  
        <param-value>true</param-value>
      </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeServlet</servlet-name>
    <url-pattern>/InitializeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SessionCheckFilter</filter-name>
    <filter-class>filters.SessionCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionCheckFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
     <context-param>
         <param-name>quartz:shutdown-on-unload</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:wait-on-shutdown</param-name>
         <param-value>false</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-scheduler-on-load</param-name>
         <param-value>true</param-value>
     </context-param>
          <listener>
         <listener-class>
             quartz.QuartzServletContextListener
         </listener-class>
     </listener>
</web-app>